/* Hoja de estilo para el sitio Web */

img {
	max-width: 100%;
	max-height: 100%;
}

/**** Definición de Clases ****/

.contenedorPrincipal {
	width: 99vw; height: 99vh;
	margin:  0 auto;	/* Alinea el contenedor en el centro de la ventana */
	display: grid;

	grid-template-rows: 80px minmax(40vw, 55vw) minmax(40vw, 55vw) ;
}

.contenedorPrincipalCabecera{
	grid-row-start: 1;	grid-row-end: 2;
	background-color: rgb(160, 160, 160);
}

.contenedorPrincipalJuegosDestacados{
	grid-row-start: 2;	grid-row-end: 3;
	background-color: rgb(244, 249, 182);
}

.contenedorPrincipalProximosLanzamientos{
	grid-row-start: 3;	grid-row-end: 4;
	background-color: rgb(208, 172, 83);
}

.contenedorCabecera {
	width: 99vw; height: 80px;
	margin:  0 auto;	/* Alinea el contenedor en el centro de la ventana */
	display: grid;

	grid-template-columns: 20% 20% 20% 20% 20%;
}

.logoPaginaWeb {
	grid-column-start: 1;	grid-column-end: 2;
	width: 100%;
	height: 100%;
	align-content: center;
}

/* Ajusta una imagen dentro de la celda del contenedor para la cabecera */
.logoPaginaWeb>img {
	width: 100%;
	max-height: 80px;
}

.opcionXbox {
	grid-column-start: 2;	grid-column-end: 3;
	width: 100%; height: 100%; max-height: 80px;
	background-color: green;
}

.opcionXbox>a {
	margin: 20px auto;
	text-align: center;
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-family: Gill Sans, sans-serif;
}

.opcionPlayStation {
	grid-column-start: 3;	grid-column-end: 4;
	width: 100%; height: 100%; max-height: 80px;
	background-color: blue;
}

.opcionPlayStation>a {
	margin: 20px auto;
	text-align: center;
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-family: Gill Sans, sans-serif;
}

.opcionNintendo {
	grid-column-start: 4;	grid-column-end: 5;
	width: 100%; height: 100%; max-height: 80px;
	background-color: red;
}

.opcionNintendo>a {
	margin: 20px auto;
	text-align: center;
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-family: Gill Sans, sans-serif;
}

.subTitulo>h2 {
	color: blue;
	font-size: 30px;
	font-weight: bold;
	font-family: Gill Sans, sans-serif;
	text-align: center;
}

.contenedorJuegos {
	height: 1%; width: 90vw;
	margin:  0% auto;	/* Alinea el contenedor en el centro de la ventana */
	display: grid;

	grid-template-columns: 20% 20% 20% 20% 20%;
	background-color: rgba(210, 210, 210, 0.7);
}

.juego1 {
	grid-column-start: 1;	grid-column-end: 2;
	width: 99%; height: 99%;
	border:  2px groove gray;
}

.juego1>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.juego2 {
	grid-column-start: 2;	grid-column-end: 3;
	width: 99%; height: 99%;
	border:  2px groove gray;
}

.juego2>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.juego3 {
	grid-column-start: 3;	grid-column-end: 4;
	width: 99%; height: 99%;
	border:  2px groove gray;
}

.juego3>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.juego4 {
	grid-column-start: 4;	grid-column-end: 5;
	width: 99%; height: 99%;
	border:  2px groove gray;
}

.juego4>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.juego5 {
	grid-column-start: 5;	grid-column-end: 6;
	width: 99%; height: 99%;
	border:  2px groove gray;
}

.juego5>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}